Source: eds-backend-telepathy
Section: base
Priority: optional
Maintainer: Jörgen Scheibengruber <Jorgen.scheibengruber@nokia.com>
Uploaders: Marco Barisione <marco.barisione@collabora.co.uk>, Mathias Hasselmann <mathias.hasselmann@maemo.org>
Build-Depends: debhelper (>= 5.0.0), cdbs, intltool (>= 0.28-2), libdbus-glib-1-dev, libebook1.2-dev, libedata-book1.2-dev, libedataserver1.2-dev, evolution-data-server-dev, libtelepathy-glib-dev, libsqlite3-dev, mce-dev
Standards-Version: 3.7

Package: evolution-data-server-addressbook-backend-telepathy
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, evolution-data-server
Description: Telepathy backend for Evolution Data Server
 This package provides a backend for Evolution Data Server than allows access
 to the Telepathy roster.

Package: evolution-data-server-addressbook-backend-telepathy-dbg
Section: devel
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, evolution-data-server-addressbook-backend-telepathy (= ${source:Version})
Description: Telepathy backend for Evolution Data Server
 This package provides a backend for Evolution Data Server than allows access
 to the Telepathy roster.
 .
 This package contains the debugging symbols.

