#!/usr/bin/make -f
%:
	dh $@

DEB_CFLAGS_MAINT_APPEND += -Wno-deprecated
export DEB_CFLAGS_MAINT_APPEND

# Use soft-float and thumb mode if it enabled. 
ifneq (,$(findstring thumb,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -mthumb
endif

